@inherits ViewPage<SearchTweets.Service.SearchResponse>
@{
    ViewBag.Title = "Search Results";
    Layout = "Layout";
}
<div>
    <h2>Twitter Search Results for "facebook"</h2>
    <table class="table">
  
        @foreach (var tweet in Model.Results)
        {
            <tr>
                <td>@tweet.UserName</td>
                <td><img src="@tweet.UserImage" class="img-polaroid"/></td>
                <td>@tweet.Text</td>     
                <      
            </tr>
        }
        <
    </table>
</div>