<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConsumerKey" value ="3HNhsbqsfzAWaDA6PK35Q"/>
		<add key="ConsumerSecret" value="6GdPof4Vxs6TFlIBpC9zGK6Dqz6nvoZPLEr4o1rURo"/>
		<add key="AccessToken" value="8111962-LRzBCxrEri5sbldzBSRosg3itk6PtybcYOqvTC7Bih"/>
		<add key="AccessTokenSecret" value="YfiJyz75WxeHDqeIMw2YCWbm3EdEvU0M2GFiIQIACQ"/>
	</appSettings>
</configuration>